<h1>In modder show</h1>

jar name: <%= @upload.minecraft_jar_file_name %><br/>
jar path: <%= @upload.minecraft_jar.path %><br/>
mod: <%= @upload.mod_jar_file_name %><br/>
mod path: <%= @upload.mod_jar.path %><br/>

jar contents: <%= @jar_contents %><br />
