<p id="notice"><%= notice %></p>

<p>
  <b>Minecraft JAR::</b>
  <%= @upload.minecraft_jar %>
  <p><b>size: </b> <%= @upload.minecraft_jar_file_size %></p>

  <b>Mod file (zip, rar, or jar)::</b>
  <%= @upload.mod_jar %>
  <p><b>Size: </b> <%= @upload.mod_jar_file_size %></p>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %> |
<%= link_to 'Combine', :action => 'combine', :id => @upload %>
